@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-bold";
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-light";
    src: url('../fonts/roboto/Roboto-Light.ttf');
    font-weight: normal;
}

.miller-col-title-text {
    text-align: start;
}

.search-container>label {
    font-family: "Roboto-light", sans-serif;
}

input#search_classifications {
    box-shadow: 0px 5px 4px rgb(0 0 0 / 5%);
    border-radius: 2px;
    height: 2.5rem;
    width: 400px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #DBDBDB;
    background: #f7f7f7ee;
    font-size: 1rem;
    float: left;
}

.miller-cols-container-wrapper.search-container {
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.list-item-search-result {
    background-color: #eded81 !important;
}

.favourable-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

/* style for editable miller col feature*/

.popup-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px #aaa;
    overflow: hidden;
    top: 100px;
}

.popup-title {
    padding: 10px 15px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #f0f0f0;
}

.popup-title h3 {
    margin: 0;
    line-height: 1.5em;
    color: #333;
}

.popup-body {
    padding: 10px 15px;
    color: #555;
}

.popup-close, .button, .popup-wrapper .material-icons {
    float: right;
    margin-top: 2px;
    padding: 0;
    font-size: 24px;
    line-height: 1;
    border: 0;
    background: transparent;
    color: #aaa;
    cursor: pointer;
}

.popup-close:hover,
.button:hover,
.popup-wrapper .material-icons:hover {
    color: #333;
}

.popup-wrapper .footer {

    padding: 10px 0px;

}

.clearfix {
    display: block;
    clear: both;
}

input {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
}

input:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(200, 200, 200, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(200, 200, 200, .6);
}

.middle-body {
    position: relative;
}

.middle-body .material-icons {
    width: 10%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-content .material-icons {
    width: 30px;
    position: relative;
    transform: translateX(25%);
}