.miller-col-title {
    height: 85px;
}

.miller-col-body {
    margin-top: 85px;
}

.miller-col-title-text {
    text-align: start;
}

.miller-col-filter {
    margin-top: 9px;

}

.miller-col-filter input {
    width: 100%;
}